body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0073e6;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #005bb5;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
}

nav ul li a:hover {
    background-color: #0073e6;
    border-radius: 4px;
}

main {
    padding: 2em;
}

h2 {
    color: #0073e6;
}

section {
    margin-bottom: 2em;
}

form label {
    display: block;
    margin-bottom: 0.5em;
}

form select,
form input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}

button {
    background-color: #0073e6;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5;
}

.playa-boton {
    background-color: #005bb5;
    color: white;
    padding: 0.5em;
    border: none;
    margin-bottom: 0.5em;
    width: 100%;
    cursor: pointer;
}

.playa-boton:hover {
    background-color: #0073e6;
}